@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/values";

.all-locations-page-container {
	width: values.$pageWidth;
	margin-left: values.$pageMargin;
}

@media (max-width: 1080px) {
	.all-locations-page-container {
		width: 80%;
		margin-left: 20%;
	}
}

@media (max-width: 650px) {
	.all-locations-page-container {
		width: 75%;
		margin-left: 25%;
	}
}
