@use "../../../Styles/default";
@use "../../../Styles/colors";
.dashboard-page-container {
	width: 88%;
	margin-left: 12%;
	&--title {
		color: white;
		font-size: 3rem;
		text-align: center;
		padding: 2rem 0;
	}
}

@media (max-width: 1080px) {
	.dashboard-page-container {
		width: 80%;
		margin-left: 20%;
	}
}

@media (max-width: 650px) {
	.dashboard-page-container {
		width: 75%;
		margin-left: 25%;
	}
}
