@use "../../../Styles/default";
@use "../../../Styles/colors";

.navbar-container {
	display: flex;
	flex-direction: column;
	width: 12%;
	height: 100vh;
	min-height: 100%;
	background-color: colors.$containerColor;
	color: colors.$textColor;
	box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 2%),
		0 0px 0 1px rgb(10 10 10 / 2%);
	&__logo {
		font-size: 2rem;
		text-transform: uppercase;
		margin-top: 1rem;
		text-align: center;
		a,
		button {
			color: colors.$textColor;
			text-decoration: none;
			svg {
				margin-right: 0.5rem;
				transition: all 0.3s ease-in-out;
			}
			&:hover svg {
				color: colors.$navbarHoverColor;
			}
		}
	}
	&__menu {
		&__header {
			margin-left: 3rem;
			color: #ffffff90;
		}
		&__list {
			list-style: none;
			&__item {
				font-size: 1.5rem;
				margin-top: 1rem;
				transition: all 0.3s ease-in-out;
				padding-left: 2rem;
				&:first-child {
					margin-top: 0;
				}
				a,
				button {
					text-decoration: none;
					background: none;
					border: none;
					color: colors.$textColor;
					display: block;
					padding: 1rem;
					svg {
						margin-right: 2rem;
					}
				}
				button {
					cursor: pointer;
					width: -webkit-fill-available;
					text-align: left;
				}
				&:hover {
					background-color: colors.$navbarHoverColor;
					padding-left: 2.3rem;
				}
			}
		}
	}
	&__divider {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border-top: 2px solid colors.$backgroundColor;
	}
	&__user {
		display: flex;
		margin-left: 2rem;
		padding: 1rem;
		&__avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 1rem;
			background-color: white;
		}
		&__info {
			display: flex;
			flex-direction: column;
			&__name {
				font-weight: bold;
			}
			&__email,
			&__role {
				color: #ffffff60;
			}
		}
	}
}

@media (max-width: 1080px) {
	.navbar-container {
		width: 20%;
	}
}

@media (max-width: 650px) {
	.navbar-container {
		width: 25%;
		&__logo {
			font-size: 1.5rem;
		}
		&__menu {
			&__list {
				&__item {
					padding-left: 0rem;
					a,
					button {
						svg {
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}
}
