@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/values";

.create-office-form-container {
	position: relative;
	color: colors.$textColor;
	width: 80%;
	margin: 10rem auto;
	display: flex;
	background: colors.$containerColor;
	height: 80vh;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba($color: rgb(71, 71, 71), $alpha: 0.3);
	&__img {
		width: 50%;
		align-self: center;
		img {
			width: 80%;
			margin: 0 auto;
		}
	}
	&__form-side {
		align-self: center;
		width: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 4rem;
		&__form-container {
			width: 60%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			&__button-container {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				button {
					font-size: 1.8rem;
					width: 100%;
					padding: 1rem 2rem;
					border: none;
					border-radius: 50px;
					background: colors.$yellowgreen;
					color: black;
					transition: all 0.3s ease;
					&:hover {
						box-shadow: 2px 3px 7px 4px rgba(white, 0.4),
							2px 3px 7px 4px rgba(black, 0.4);
					}
				}
				p {
					font-size: 1rem;
					text-align: center;
					a {
						color: colors.$yellowgreen;
						text-decoration: none;
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.create-office-form-container {
		&__form-side {
			width: 100%;
		}
	}
}
