@use "../../../Styles/default";
@use "../../../Styles/colors";
@use "../../../Styles/values";

.page-not-found-container {
    width: values.$pageWidth;
    margin-left: values.$pageMargin;
    height: 100vh;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
		width: 60%;
	}
}