@use "../../../Styles/default";
@use "../../../Styles/colors";
.landing-page-container {
	width: 88%;
	margin-left: 12%;
}
@media (max-width: 1080px) {
	.landing-page-container {
		width: 80%;
		margin-left: 20%;
	}
}

@media (max-width: 650px) {
	.landing-page-container {
		width: 75%;
		margin-left: 25%;
	}
}
