@use "../../../Styles/default";
@use "../../../Styles/colors";
.create-floor-form-container {
	position: relative;
	color: colors.$textColor;
	width: 80%;
	margin: 10rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: colors.$containerColor;
	height: 80vh;
	border-radius: 5px;
	box-shadow: 2px 3px 10px 2px rgba($color: rgb(71, 71, 71), $alpha: 0.3);
	&__input-container {
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
